<ngb-pagination class="d-flex justify-content-center"
    [collectionSize]="collectionSize" 
    [pageSize]="pageSize"
    [(page)]="page"
    (pageChange)="loadPage($event)"
    [maxSize]= "5"
    [rotate]="true"
    [boundaryLinks]="true">
</ngb-pagination>

<hr/>
<div class="row container-fluid">
  <div class="col-md-4">
    <div *ngFor="let spell of spells" class="row">
      <div class="col-md-2 text-left"></div>
      <div class="col-md btn-primary btn-flat text-left"
      (click)="onSelect(spell)">
        {{spell.name}}
        </div>
        <hr>
      </div>
  </div>
  <div class="col">
    <app-spell-detail [spell]="selectedSpell"></app-spell-detail>
  </div>
</div>
<hr/>

<ngb-pagination class="d-flex justify-content-center"
    [collectionSize]="collectionSize" 
    [pageSize]="pageSize"
    [(page)]="page"
    (pageChange)="loadPage($event)"
    [maxSize]= "5"
    [rotate]="true"
    [boundaryLinks]="true">
</ngb-pagination>
