<div *ngIf="spell">
  <ngb-accordion>
    <ngb-panel title="{{spell.name}}">
      <ng-template ngbPanelContent>
      <div class="row text-left">
          <label> Level : </label>
          {{spell.level}}
      </div>
      <div class="row">
          <label> Classes :</label>
          <div *ngFor="let class of spell.classes">
            <span class="m-1">{{class}}</span>
          </div>
          <div class="text-left">
            <p>{{spell.desc}}</p>
          </div>
          <div class="text-left">
            <label> Material : </label>
            <p>{{spell.material}}</p>
          </div>
      </div>
     </ng-template>
    </ngb-panel>
  </ngb-accordion>
</div>