<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
        <header class="navbar navbar-dark bg-dark navbar-fixed-top navbar-expand-lg">
     
            <a class="navbar-brand" [routerLink]="['/']" (click)="navbarCollapsed = true">ng-bootstrap</a>
     
            <button class="navbar-toggler navbar-toggler-right" type="button" (click)="navbarCollapsed = !navbarCollapsed"
                    [attr.aria-expanded]="!navbarCollapsed" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
     
            <div class="navbar-collapse" [ngbCollapse]="navbarCollapsed" id="navbarContent">
              <!--
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item" [routerLinkActive]="['active']">
                        <a class="nav-link" [routerLink]="['/getting-started']" (click)="navbarCollapsed = true">Getting Started</a>
                    </li>
                    <li class="nav-item" [routerLinkActive]="['active']">
                        <a class="nav-link" [routerLink]="['/components']" (click)="navbarCollapsed = true">Components</a>
                    </li>
                    <li class="nav-item d-lg-none" *ngFor="let component of components" [routerLinkActive]="['active']">
                        <a class="nav-link" [routerLink]="['/components', component.toLowerCase()]" (click)="navbarCollapsed = true">{{ component }}</a>
                    </li>
                </ul>
     
                <span class="github-buttons d-none d-lg-inline">
            <a class="github-button"
               href="https://github.com/ng-bootstrap/ng-bootstrap"
               target="_blank"
               data-size="large"
               data-show-count="true"
               data-count-aria-label="# stargazers on GitHub"
               aria-label="Star ng-bootstrap/ng-bootstrap on GitHub">Star</a>
              -->
            </div>
        </header>
  <h1>
    Welcome to {{ title }}!
  </h1>
  <br/>
  <app-spell-list></app-spell-list>
  <app-messages></app-messages>
</div>


<router-outlet></router-outlet>
